{% extends "base.html" %}

{% block content %}
<div class="input-group">
  <input type="text" name="password-link" id="password-link" value="{{ password_link }}" class="form-control form-control-lg create-success" readonly>
  <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" onclick="myFunction()">Copy</button>
  </div>
</div>
<a href="/" class="btn btn-primary btn-return">Aller à la page d'accueil</a>
{% endblock %}

{% block js %}
<script>
  function myFunction() {
    /* Obtenir le champ de texte */
    var copyText = document.getElementById("password-link");
    
    /* Sélectionner le champ de texte */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /* Pour les appareils mobiles */
    
    /* Copier le texte à l'intérieur du champ de texte */
    document.execCommand("copy");
}
</script> 
{% endblock %}
