{% extends "base.html" %}

{% block content %}
<div class="container">
  <section>
    <div class="page-header"><h1>Secret introuvable</h1></div>
    <p class="lead">L'URL demandée n'a pas été trouvée sur le serveur. Cela peut être dû au fait que cette URL n'a jamais contenu de secret, ou qu'elle a expiré ou a été révélée précédemment.</p>
    <p class="lead">Si cette URL vous a été envoyée par quelqu'un, assurez-vous de vérifier votre orthographe ou demandez à la personne qui vous l'a envoyée d'envoyer un nouveau secret.</p>
  </section>
</div>
{% endblock %}
