{% extends "base.html" %}

{% block content %}
<div class="container">
  <section>
    <div class="page-header"><h1>Secret</h1></div>
    <p>Enregistrez le secret suivant dans un endroit sécurisé.</p>
    <div class="row">
      <div class="col-sm-6 margin-bottom-10">
        <textarea class="form-control" rows="10" cols="50" id="password-text" name="password-text" readonly="readonly">{{ password }}</textarea>
      </div>

      <div class="col-sm-6">
        <button title="Copier dans le presse-papiers" type="button" class="btn btn-primary copy-clipboard-btn"
              id="copy-clipboard-btn" data-clipboard-target="#password-text"
              data-placement='bottom'>
          <i class="fa fa-clipboard"></i>
        </button>
      </div>
    </div>
    <p>Le secret a été définitivement supprimé du système et l'URL ne fonctionnera plus. Rafraîchissez cette page pour vérifier.</p>
  </section>
</div>
{% endblock %}

{% block js %}
<script src="{{ config.STATIC_URL }}/clipboardjs/clipboard.min.js"></script>
<script src="{{ config.STATIC_URL }}/snappass/scripts/clipboard_button.js"></script>
{% endblock %}
