{% extends "base.html" %}

{% block content %}
<p class="lead alert alert-warning">Attention : Vous ne pouvez ouvrir ce lien QU'UNE SEULE fois !<br/>
  <small><i>Veuillez enregistrer le secret dans un endroit sécurisé, comme <a href="https://keepassxc.org/" title="KeePassXC">KeePassXC</a></i></small>
</p>

<form method="post" action="{{ password_link }}"">
    <input type="submit" name="reveal" value="Open password" class="btn-lg btn-primary btn-preview">  
</form>
{% endblock %}

{% block js %}
<script src="{{ config.STATIC_URL }}/clipboardjs/clipboard.min.js"></script>
<script src="{{ config.STATIC_URL }}/snappass/scripts/clipboard_button.js"></script>
<script src="{{ config.STATIC_URL }}/snappass/scripts/preview.js"></script>
{% endblock %}