{% extends "base.html" %}

{% block content %}
  <form role="form" id="password_create" method="post" >
    <div class="form-group">
      <input class="form-control form-control-lg" type="text" placeholder="" id="password" name="password" autofocus="true" autocomplete="off" required>
    </div>
    <div class="section-content">
      <div class="slider-radio elegant">
        <input type="radio" name="ttl" id="Hour" value="Hour"><label for="Hour">1 Heure</label>
        <input type="radio" name="ttl" id="Day" value="Day"><label for="Day">1 Jour</label>
        <input type="radio" name="ttl" id="Week" value="Week"><label for="Week">1 Semaine</label>
        <input type="radio" name="ttl" id="Two Weeks" value="Two Weeks"><label for="Two Weeks">2 Semaines</label>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" id="submit">Générer une URL</button>
  </form>
  </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}
