/* ========== slider-radio.css ================================================================================================================================================================ */
/* REQUIRED STYLES */
.slider-radio{position:relative;}.slider-radio input[type=radio]{display:none;}.slider-radio input[type=radio]:checked + label{position:relative !important;z-index:100 !important;}

/* DEFAULT */
.slider-radio {display: inline-block;}

.slider-radio label {
    display: inline-block;
    /*padding: 10px 20px;*/
    padding: .375rem .75rem;
    cursor: pointer;
    /*font-size: 20px;*/
}

/* Indicator Styles */
.slider-radio input[type=radio]:checked + label,
.slider-radio .sliding-piece {
    background-color: #77abff;
    transition-timing-function: cubic-bezier(.74,.14,.38,.99);
}

/* Elegant Theme */
.elegant {
  border: 1px solid #005A8F;
  border-radius: .4rem;
  padding: .375rem;
}
.slider-radio.elegant label {
    display: inline-block;
    padding: .375rem .75rem;
    cursor: pointer;
    /*font-size: 20px;*/
    /*font-weight: bold;*/
    /*opacity: 0.5;*/
    color: #005A8F;
    text-transform: uppercase;
    margin-bottom: 0;
}

.slider-radio.elegant input[type=radio]:checked + label,
.slider-radio.elegant .sliding-piece {
    color: white;
    border-radius: .25rem;
    /*background-color: #f44242;*/
    background-color: #00A2FF;
    opacity: 1;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

/* Vertical */
.slider-radio.vertical label {
    display: block !important;
}

.slider-radio label:hover {
  color: #00A2FF;
}

/* ========== style.css ======================================================================================================================================================================= */
html {min-height: 100%;}

body {
    /*background-color: #b1bfd8;
background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%);*/
    /*background-color: #000E1D;*/
    background-color: #00121F;
    color: #00A2FF;
    font-family: Bahnschrift, Verdana, Arial, Tahoma, Serif;
    letter-spacing: 0.1rem;
}

@media (min-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 750px;
  }
}

#main {
    
    /*border: 1px solid red;*/
    /*border-radius: 0.3rem;*/
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem 2rem;
}

#logo {
    /*border: 1px solid red;*/
    text-align: center;
    margin-bottom: 2rem;
}

h1 {
    color: #2C485C;
    
}

.section-content {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.contact {
    font-size: 0.8rem;
    font-style: italic;
}

.c_sp:before {
	content: attr(data-website) "\0040" attr(data-user);
	unicode-bidi: bidi-override;
    direction: rtl;
}

.form-control-lg {
    border-radius: 2rem;
    box-shadow: 1rem #aaa;
}

.btn-primary {
    background-color: #00A2FF;
    border-color: #00A2FF;
    text-transform: uppercase;
}


.create-success  {
  background-color: #d4edda !important;
  font-style: italic;
}

.get-success {
  background-color: #cccccc !important;
}

.btn-return {
  margin-top: 2.5rem;
}

.btn-preview {
  margin-top: 1.5rem;
}

.btn-primary {
  letter-spacing: 0.1rem;
  /*font-weight: 300;*/
}